# <font color=blue>Assignments for "Data Cleaning - Variable Types"</font>

**(1)** Determine the types of the below-given variables:
- Age
- Salary
- Income
- Customer type
- Stock price

Age: Both discrete and continuous(ratio) variable<br>
Salary: Continuous variable<br>
Income: Continuous variable<br>
Customer Type: Nominak variable<br>
Stock Price: Continuous variable

**(2)** Using the `movie` data, we have studied in this lesson. Complete the following tasks:
    * Select a variable from the `movie` dataset and discuss the variable type of this variable
    * Categorize a variable of your choice and assign a name to it
    * Count the number of rows for each category

In [1]:
import pandas as pd
import numpy as np
movie = pd.read_csv("https://djl-lms-assets.s3.eu-central-1.amazonaws.com/datasets/movie.csv")

In [2]:
movie.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [3]:
print('Director facebook likes feature type is:', movie.director_facebook_likes.dtype)

Director facebook likes feature type is: float64

In [4]:
def make_category(director_facebook_likes):
  if director_facebook_likes >= 15000:
    return 'More Popular'
  elif (director_facebook_likes < 15000) and (director_facebook_likes <= 9000):
    return 'Popular'
  elif (director_facebook_likes < 9000) and (director_facebook_likes <= 1000):
    return 'Liked/Less Popular'
  else:
    return 'Not Popular'

In [5]:
movie['new_director_facebook_likes'] = movie['director_facebook_likes'].apply(make_category)
display(movie.head())
movie.groupby("new_director_facebook_likes")["director_facebook_likes"].count()

   color      director_name  ...  movie_facebook_likes  new_director_facebook_likes
0  Color      James Cameron  ...                 33000                      Popular
1  Color     Gore Verbinski  ...                     0                      Popular
2  Color         Sam Mendes  ...                 85000                      Popular
3  Color  Christopher Nolan  ...                164000                 More Popular
4    NaN        Doug Walker  ...                     0                      Popular

[5 rows x 29 columns]

new_director_facebook_likes
More Popular      74
Not Popular      107
Popular         4758
Name: director_facebook_likes, dtype: int64

**(3)** Is it possible to convert categorical variable into numerical one? If so, how can you make that?

Yes this is possible. We can do it the way we converted it to a numerical values to categorical values in the previous question. We define a function and again we give conditions. Or maybe we can use modules in different libraries.

**(4)** While continuous data is generally preferred over discrete data, please indicate circumstances where discrete is the preferred data type although continuous data is available for the same characteristic.

Since discrete variables take a countable number of numeric variables betweeb aby two variables, we can use it for large datasets to reduce numbers after point and also reduce mistakes.

**(5)** While continuous data is measured and attribute data is counted, there is sometimes confusion if some specific dataset should be considered continuous or attribute. Provide some examples of confusing datasets and your inference.