<a href="https://colab.research.google.com/github/elfozge/data_science_bootcamp/blob/main/MathematicalOperationsOfNumPyArrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**(1)** Load the array you saved in the previous lesson from the disk.

In [ ]:
import pandas as pd
import numpy as np
array = np.load("array_b.npy")
print(array)

[[ 1.      1.      1.      1.      1.    ]
 [ 0.     36.0535 31.2135 36.68    5.2   ]
 [ 0.     37.1958 30.6241 50.33    4.8   ]
 [ 0.     37.3773 36.3855 10.53    4.8   ]
 [ 0.     35.8861 26.0695 28.49    4.9   ]
 [ 0.     37.6546 26.6698  4.5     4.5   ]
 [ 0.     37.5318 29.848  17.58    4.6   ]
 [ 0.     39.0388 44.1533  7.52    4.5   ]]

**(2)** Display the mean and the standard deviation for each column.

In [ ]:
print(array.mean(axis=0))
print(array.std(axis=0))

[ 0.125     32.7172375 28.2454625 19.57875    4.2875   ]
[ 0.33071891 12.02314907 11.65057695 16.28392416  1.26138565]

**(3)** Subtract 1, 25, 25, 10, 4 from columns in order. (Remember it can be subtracted in one line of code.)

In [ ]:
print(array - np.array([ 1, 25, 25, 10, 4]))

[[  0.     -24.     -24.      -9.      -3.    ]
 [ -1.      11.0535   6.2135  26.68     1.2   ]
 [ -1.      12.1958   5.6241  40.33     0.8   ]
 [ -1.      12.3773  11.3855   0.53     0.8   ]
 [ -1.      10.8861   1.0695  18.49     0.9   ]
 [ -1.      12.6546   1.6698  -5.5      0.5   ]
 [ -1.      12.5318   4.848    7.58     0.6   ]
 [ -1.      14.0388  19.1533  -2.48     0.5   ]]

**(4)** Multiply each element by 2. (Remember it can be multiplied in one line of code.)

In [ ]:
print(array*2)

[[  2.       2.       2.       2.       2.    ]
 [  0.      72.107   62.427   73.36    10.4   ]
 [  0.      74.3916  61.2482 100.66     9.6   ]
 [  0.      74.7546  72.771   21.06     9.6   ]
 [  0.      71.7722  52.139   56.98     9.8   ]
 [  0.      75.3092  53.3396   9.       9.    ]
 [  0.      75.0636  59.696   35.16     9.2   ]
 [  0.      78.0776  88.3066  15.04     9.    ]]