<a href="https://colab.research.google.com/github/elfozge/data_science_bootcamp/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**(1)** Please form a multiplication table from user input.

    Example :

        Enter a number : 6
        6 x 1 = 6                                                               
        6 x 2 = 12                                                              
        6 x 3 = 18                                                              
        6 x 4 = 24                                                              
        6 x 5 = 30                                                              
        6 x 6 = 36                                                              
        6 x 7 = 42                                                              
        6 x 8 = 48                                                              
        6 x 9 = 54                                                              
        6 x 10 = 60

In [ ]:
number = int(input("Enter a number: "))

for i in range(1,11):
    print("{} x {} =".format(number,i), number*i)

Enter a number: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

**(2)** Simply by using list compherension, form a list by taking square of odds numbers and by calculating cube of even numbers from 1 to 20.

In [ ]:
square_oddnumbers = []
cube_evennumbers = []
numbers = list(range(1,21))

for i in numbers:
        if i%2==0:
            cube_evennumbers.append(i**3)        
        else:
            square_oddnumbers.append(i**2)
            
print("Cube of even numbers: ", cube_evennumbers)
print("Square of odd numbers: ", square_oddnumbers)

Cube of even numbers:  [8, 64, 216, 512, 1000, 1728, 2744, 4096, 5832, 8000]
Square of odd numbers:  [1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

**(3)** Please type a code that inverts the initial user input.

    Example : "automobile" --> "elibomotua"

**(4)** Using `range(1, 201)`, make two lists. One is containing all even numbers and the other containing all odd numbers.

In [ ]:
odd_numbers = []
even_numbers = []
numbers = list(range(1,201))

for i in numbers:
        if i%2==0:
            even_numbers.append(i)        
        else:
            odd_numbers.append(i)
            
print("All even numbers: ",even_numbers,'\n')
print("All odd numbers: ",odd_numbers)

All even numbers:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

All odd numbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199]

**(5)** Define a function called `count` that has two arguments called `sequence` and `item`. Return the number of times the item occurs in the list.<br>

    Example:
    ```python
    count([1,2,1,1], 1)
    ```
    It should return 3. Because `1` appears 3 times in the list.

In [ ]:
def count(sequence, item):
    toplam=0
    for i in sequence:
        if i == list:
            for a in i:
                if a==item:
                    toplam+=1
        else:
            if i==item:
                toplam+=1
                
    return toplam

count([1,2,1,1], 1)

3

**(6)** Write a function called `digit_sum` that takes a positive integer n as input and returns the sum of all that number's digits as a single-digit number.

    Example:
        27684 --> 2 + 7 + 6 + 8 + 4 = 27 --> 2 + 7 = 9

In [ ]:
def digit_sum(number):
        sum=0
        
        for i in str(number):
                  sum += int(i)
                  a = sum % 10
                  b = sum // 10
                  sum = a + b
        print('Sum of {} is'.format(number), sum)
        
        return

digit_sum(number = input("Please enter a number: "))

Please enter a number: 27684
Sum of 27684 is 9

**(7)** Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers.

In [ ]:
number_1 = int(input("Please enter first number: "))
number_2 = int(input("Please enter second number: "))
a= number_1
b= number_2
while(number_2 != 0):
  temp = number_2
  number_2 = number_1 % number_2
  number_1 = temp
gcd = temp
print("GCD (greatest common divisor) of {} and {} is {}.".format(a,b,gcd))

Please enter first number: 72
Please enter second number: 36
GCD (greatest common divisor) of 72 and 36 is 36.

**(8)** Write a Python program that iterates integers from 1 to 50. For multiples of three print `fizz` instead of the number and for the multiples of five print `buzz`. For numbers which are multiples of both three and five print `fizzbuzz`.

In [ ]:
for i in list(range(1,51)):
    if (i%3 == 0):
        if (i%5==0):
            print("fizzbuzz")
        else:
            print("fizz")
    elif (i%5 == 0):
        print("buzz")
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz

**(9)** Please form a list out of Fibonacci numbers from 1 to 50. The first two Fibonacci numbers are 1. The next numbers are the sum of the previous two.

In [ ]:
x,y=0,1
a=[]

while y<50:
    a.append(y)
    x,y = y,x+y

print("Fibonacci numbers between 1 to 50 is", a)

Fibonacci numbers between 1 to 50 is [1, 1, 2, 3, 5, 8, 13, 21, 34]