<a href="https://colab.research.google.com/github/elfozge/data_science_bootcamp/blob/main/Tuples_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**(1)** Create a tuple named "week" containing weekdays.

In [ ]:
week = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')

**(2)** Create a set named "fruits" containing followings: apple, mango, orange

In [ ]:
fruits = { "apple", "mango", "orange"}

**(3)** Create a new set named "new_fruits" containing followings: cherry, peach, apple, mango

In [ ]:
new_fruits = {"cherry", "peach", "apple", "mango"}

**(4)** Find the fruits which are in new_fruits but not in fruits.

In [ ]:
print("Only in new fruits {}".format(new_fruits.difference(fruits)))

Only in new fruits {'cherry', 'peach'}

**(5)** Find the fruits which are in both new_fruits and fruits.

In [ ]:
print("Both in new fruits and fruits {}".format(new_fruits.intersection(fruits)))

Both in new fruits and fruits {'mango', 'apple'}