**1.** Write a code to compute the sum of the two lowest numbers and the two highest numbers in the following list.

        my_list = [34, 56, 76, 45, 2, 12, 67, 98, 37, 54, 66]

In [ ]:
my_list = [34, 56, 76, 45, 2, 12, 67, 98, 37, 54, 66]
my_list.sort()
print(sum(my_list[:2] + my_list[-2:]))

188

**2.** The following two lists contain student names and scores. Write a code that gets the name from the user and prints the score of that student.

        names = ["David", "Michael", "John", "James", "Greg", "Mark", 
                 "William", "Richard", "Thomas", "Steven", 
                 "Mary", "Susan", "Maria", "Karen", "Lisa", "Linda", 
                 "Donna", "Patricia", "Debra", "Eric"]

        scores = [95, 87, 78, 86, 68, 94, 76, 97, 56, 98, 76, 
                  87, 79, 90, 73, 93, 82, 69, 97, 98]

In [ ]:
names = ["David", "Michael", "John", "James", "Greg", "Mark", 
             "William", "Richard", "Thomas", "Steven", 
             "Mary", "Susan", "Maria", "Karen", "Lisa", "Linda", 
             "Donna", "Patricia", "Debra", "Eric"]
 
scores = [95, 87, 78, 86, 68, 94, 76, 97, 56, 98, 76, 
              87, 79, 90, 73, 93, 82, 69, 97, 98]
    
deger = names.index(input())
print("Score of {} is {} ".format(names[deger],scores[deger]))

David
Score of David is 95

**3.** By using the two lists above, what is the maximum score and how many students got that score?

In [ ]:
scores.sort(reverse=True)
print("Max score : ", scores[0])
print("Number of student with max score : ", scores.count(scores[0]))

Max score :  98
Number of student with max score :  2

**4.** We can confuse about how many days a month is. Create a list to handle it. You will have month names and day counts in your list together as a nested list.

In [ ]:
months = [['January', 31], ['February', 28], ['March', 31], ['April', 30], ['May', 31], ['June', 30], ['July', 31], ['August', 31], ['September', 30], ['October', 31], ['November', 30], ['December', 31]]
print(months)

[['January', 31], ['February', 28], ['March', 31], ['April', 30], ['May', 31], ['June', 30], ['July', 31], ['August', 31], ['September', 30], ['October', 31], ['November', 30], ['December', 31]]

**5.** Now create lists of months for each season. Get month names and day counts from the list that you create before with slicing. Name the lists with seasons.

In [ ]:
spring = months[2:5]
summer = months[5:8]
fall =months[8:11]
winter = months[-1:] + months[0:2]
print("Spring: ", spring)
print("Summer: ", summer)
print("Fall: ", fall)
print("Winter: ", winter)

Spring:  [['March', 31], ['April', 30], ['May', 31]]
Summer:  [['June', 30], ['July', 31], ['August', 31]]
Fall:  [['September', 30], ['October', 31], ['November', 30]]
Winter:  [['December', 31], ['January', 31], ['February', 28]]

**6.** Finally, from the list in the previous question, calculate how many days the summer season lasts.

In [ ]:
print("Summer lasts {} days.".format(sum(c[1] for c in summer)))

print("--"*10)

summer_length = summer[0][1] + summer[1][1] + summer[2][1]
print("Summer lasts {} days".format(summer_length))

Summer lasts 92 days.
--------------------
Summer lasts 92 days